<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr style="text-align: center;">
            <th scope="col">Order ID</th>
            <th scope="col">FuelType</th>
            <th scope="col">Qty</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.orderId }}</td>
            <td>{{ order.fuelType}}</td>
            <td>{{order.qty }}</td>
            <td>{{ order.status}}</td>
            <td>{{order.date }}</td>
            <td><button type="button" class="btn btn-danger">Delete</button></td>
            <td><button type="button" class="btn btn-success">Update</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>