<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-6">

          <form>
              <div class="form">
                  <i class="fa fa-search"></i>
                  <input type="text" class="form-control form-input" name="orderId" [(ngModel)]="order.orderId"  placeholder="Enter order Id here">
                  <span class="left-pan"> <button type="submit" (click)="searchOrder()">Search</button></span>
                </div>
          </form>
        
      </div>
      
    </div>
    
  </div>